body {
  background-color: lightblue;
}
h1 {
  color: rgb(69, 69, 108);
  text-align: center;
}
th,
span {
  color: rgb(98, 28, 49);
}
.subject {
  color: red;
}
.all-news {
  color: green;
  text-align: right;
}
